.header{
    color: white;
    font-size: 6vh;
}

#portfolioHeader{
    margin-top: 2vh;
    margin-left: 1vh;
}

.itemContainer{
    margin-top: 3vh;
    padding: 3.5vh;
    border-top-style: solid;
    border-top-color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-top-width: 1px;
    border-bottom-width: 1px;
    color: white;
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide{
    0% {
        display: none;
        right: -400px;
    }
    100%{
        right: 0px;
    }
}

.container{
    height: auto;
}

.btns{
    padding: 22px;
    font-size: 4vh;
    color: white;
    border-style: none;
    background-color: #1D1F21;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.itemDescContainer{
    padding: 0px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
}

.itemDesc{
    text-align: center;
    padding-top: 3vh;
    padding-right: 3.3vh;
    font-size: 2vh;
    height: 200px;
    font-family: 'Cutive Mono', monospace;
    scroll-behavior: smooth;
    /* max-height: 250px; */
    overflow-y: scroll;
}

a{
    color: white;
    text-decoration: none;
}

.gitLink{
    font-size: 6vh;
    margin-right: 2vh;
    margin-top: 1.5vh;
}

.appImg{
    font-size: 6vh;
    margin-right: 6vh;
    margin-top: 1.5vh;
}

.gifs{
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 8px;
    margin-left: 1.2vh;
}

@media only screen and (min-width: 600px) {
  .gifs {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
    .gifs {
    width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .gifs {
    width: 40%;
    margin-left: 12vw;
    }
}

@media only screen and (min-width: 600px) {
    .itemDesc {
    font-size: 2.6vh;
    }
}

@media only screen and (min-width: 1000px) {
    .itemDesc {
    font-size: 3.2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 5vh;
    }
}

@media only screen and (min-width: 1600px) {
    .itemDesc {
    margin-bottom: 14vh;
    }
}

.itemTitle{
    font-size: 4.2vh;
    margin-bottom: 4vh;
    /* border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white; */
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .typewriters {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    
    animation: 
      typing 5s steps(52, end),
      blink-caret .7s step-end infinite;
      animation-delay: .2s;
  }
  
  /* The typing effect */
  @keyframes typing {
      
    from { width: 0 }
    to { width: 100% }
  }
  
  .typewriters2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    
    animation: 
      typing 5s steps(52, end),
      blink-caret .7s step-end infinite;
      animation-delay: .2s;
  }
  
  /* The typing effect */
  @keyframes typing {
      
    from { width: 0 }
    to { width: 100% }
  }
  