body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenavs {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(43,43,46);
    background: linear-gradient(103deg, rgba(43,43,46,1) 1%, rgba(33,35,38,1) 88%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenavs a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenavs a:hover {
    color: #f1f1f1;
  }
  
  .sidenavs .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.roundedImage{
  margin: 24px;
  margin-top: 100px !important;
  margin-bottom: 70px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 120px;
  height: auto;
  max-width: 50%;

}

#navBtnId{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #1D1F21;
  margin-top: 200px;
  padding-right: 8px;
  padding-left: 8px;
}

  @media screen and (max-height: 450px) {
    .sidenavs {padding-top: 15px;}
    .sidenavs a {font-size: 18px;}
  }
  
  .selected{
      color: white !important;
      border-bottom-style: solid !important;
      border-color: white;
      border-radius: 2px !important;
      font-size: 2em !important;
  }

  .one-edge-shadow {
    box-shadow: 1px 0px 20px -10px white;
  }

  a{
      padding-left:  0px !important;
  }

  .nav-item{
    /* padding-top: 108px !important; */
    margin-bottom: 18px !important;
  }

  .navbtn{
    padding: 6px !important;
    /* margin-left: 30px !important; */
    color: white;
  }

  .shadow {
    box-shadow: 1px 0px 24px -10px white!important;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .bigger:hover{
    height: auto !important;
    width: 62% !important;
    box-shadow: 1px 0px 30px -15px white!important;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }