section {
  /* line-height: 1.6em; */
  /* color: white;
  margin: 0;
  padding: 0 15px; */
  /* height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* font-size: 4vh; */
  /* text-align: center; */
  /* font-family: 'Cutive Mono', monospace; */
}

/* @media only screen and (max-width: 600px) {
  section {
    font-size: 3vh;
  }
} */