.itemContainer{
    margin-top: 3vh;
    padding: 3.5vh;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    color: white;
    animation-name: slide;
    animation-duration: 2s;
    margin-bottom: 5vh;
}

@keyframes slide{
    0% {
        display: none;
        right: -100vw;
    }
    100%{
        right: 0px;
    }
}



.container{
    height: auto;
}

#skillsHeader{
    margin-bottom: 1vh;
    font-size: 4.4vh;
}

.icons{
    margin-right: 2vh;
    margin-left: 2vh;
    font-size: 4vh;
}

.icons:hover{
    animation-name: enlarge;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes enlarge{
    0% {
        font-size: 4vh;
    }
    100%{
        font-size: 6vh;
    }
}

#skillsContainer{
    font-family: 'Cutive Mono', monospace;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 4px;
    padding: 12px;
}


.tTipText{
    display: none;
}

.tTip{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: fit-content;
}

.tTip:hover .tTipText{
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    top: 0vh;
    right: 0vw;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.textHeader{
    font-size: 4.4vh;
    margin-top: 1vh;
}

.aboutContainer{
    margin-top: 5vh;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
}

.aboutParagraph{
    margin-top: 2vh;
    padding: 1vh;
    min-height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 4px;
    /* border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white; */
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: .2em;
}

@media only screen and (min-width: 600px) {
    .icons{
        font-size: 6vh;
        padding-left: 3vw;
    }

    .tTip{
        margin-top: 3vh ;
        margin-bottom: 3vh;
    }

    .tTipText{
        font-size: 30px !important;
        text-align: initial;
    }

    .icons:hover{
        animation-name: enlarge;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes enlarge{
        0% {
            font-size: 6vh;
        }
        100%{
            font-size: 8vh;
        }
    }
    .aboutParagraph{
        padding: 30px;
        font-size: 20px;
    }
  }

  @media only screen and (min-width: 850px) {
      .aboutParagraph{
          font-size: 36px;
      }
      .aboutContainer{
          margin-bottom: 40px;
      }

      .container{
          padding-bottom: 40px;
      }
  }